workflows/BACKUP_WORKFLOWS.json
{"createdAt":"2025-09-30T18:46:58.783Z","updatedAt":"2025-09-30T21:12:58.000Z","id":"awLsq7ew0KCiKMMn","name":"BACKUP_WORKFLOWS","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"0ed3ce02-39d3-4b03-b8c3-f5811b42521b","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{"timezone":"-05:00"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[256,0],"id":"96c60488-d279-43eb-810e-3160553581af","name":"Date & Time"},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"=yyyyMMddHHmmss","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[464,0],"id":"0bf6460e-899c-4abd-a293-32c79f53fbde","name":"Format Date Time"},{"parameters":{"assignments":{"assignments":[{"id":"3fd05ead-cea7-4f23-9881-cb305726a027","name":"commit_date","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,208],"id":"0f9ad16a-727d-4da4-ad1f-293acc4177eb","name":"Set Commit Date Time"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"BranSuarezSofgic","mode":"list","cachedResultName":"BranSuarezSofgic","cachedResultUrl":"https://github.com/BranSuarezSofgic"},"repository":{"__rl":true,"value":"DemoBrianSDev","mode":"list","cachedResultName":"DemoBrianSDev","cachedResultUrl":"https://github.com/BranSuarezSofgic/DemoBrianSDev"},"filePath":"workflows/"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[256,208],"id":"919adf48-b264-49c7-b9ce-7c1188d33a88","name":"List files","webhookId":"86ee695a-053d-4848-a170-2ef86afb0d56","credentials":{"githubApi":{"id":"bCdEBu0h91CBPwwV","name":"GitHub Sofgic"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}-{{ $json.id }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[240,416],"id":"0683c05d-dcb4-4a20-bf6f-1079cd50af87","name":"Convert to File"},{"parameters":{"aggregate":"aggregateAllItemData","include":"specifiedFields","fieldsToInclude":"name","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[464,208],"id":"86adb564-c564-48dd-b3cd-d4ae7bd53b5a","name":"Combine File Names"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[752,592],"id":"c93d38d8-6388-4b67-89dd-5e709d886c9e","name":"No Operation, do nothing"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"BranSuarezSofgic","mode":"list","cachedResultName":"BranSuarezSofgic","cachedResultUrl":"https://github.com/BranSuarezSofgic"},"repository":{"__rl":true,"value":"DemoBrianSDev","mode":"list","cachedResultName":"DemoBrianSDev","cachedResultUrl":"https://github.com/BranSuarezSofgic/DemoBrianSDev"},"filePath":"=workflows/{{ $('Validate WF Existence').item.json.name }}.json","binaryData":true,"commitMessage":"=Backup Legal Agent Dev -  {{ $('Date & Time').item.json.currentDate }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[496,416],"id":"45968a5d-9dbd-41a0-976a-ad329ed53da4","name":"Update Workflow File","webhookId":"73b010ea-6859-4f8f-8f57-e2a76e918b11","credentials":{"githubApi":{"id":"bCdEBu0h91CBPwwV","name":"GitHub Sofgic"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"BranSuarezSofgic","mode":"list","cachedResultName":"BranSuarezSofgic","cachedResultUrl":"https://github.com/BranSuarezSofgic"},"repository":{"__rl":true,"value":"DemoBrianSDev","mode":"list","cachedResultName":"DemoBrianSDev","cachedResultUrl":"https://github.com/BranSuarezSofgic/DemoBrianSDev"},"filePath":"=workflows/{{ $('Validate WF Existence').item.json.name }}.json","binaryData":true,"commitMessage":"={{ $('Date & Time').item.json.currentDate}}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[496,576],"id":"37dba3cb-6f12-477a-9033-02c29975ba96","name":"Upload New Workflow","webhookId":"0068e610-8b9d-4f4b-bd7e-a2b26fd71657","credentials":{"githubApi":{"id":"bCdEBu0h91CBPwwV","name":"GitHub Sofgic"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-256,416],"id":"4599ece3-f721-4d1f-bcbc-795d6c042e15","name":"Get all workflows","credentials":{"n8nApi":{"id":"sZpvYuxQKV3sBWep","name":"n8n account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Combine File Names').item.json.data[0].name }}","rightValue":"={{ $('Get all workflows').item.json.name }}","operator":{"type":"string","operation":"contains"},"id":"4d66ea88-c7c7-493f-8eeb-5db83f600d23"}],"combinator":"and"},"renameOutput":true,"outputKey":"File Exists"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e2ad788-327e-4c52-94c4-6617199d01c9","leftValue":"={{ $('Combine File Names').item.json.data[0].name }}","rightValue":"={{ $('Get all workflows').item.json.name }}","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"File Does Not Exists"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-32,464],"id":"e1b8e358-ebd3-40f7-94f0-d48ea2a15353","name":"Validate WF Existence"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}-{{ $json.id }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[240,576],"id":"1695283c-2e04-48b8-936a-089432d0962a","name":"Convert to File1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Format Date Time","type":"main","index":0}]]},"Format Date Time":{"main":[[{"node":"Set Commit Date Time","type":"main","index":0}]]},"Set Commit Date Time":{"main":[[{"node":"List files","type":"main","index":0}]]},"List files":{"main":[[{"node":"Combine File Names","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Update Workflow File","type":"main","index":0}]]},"Combine File Names":{"main":[[{"node":"Get all workflows","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Validate WF Existence","type":"main","index":0}]]},"Update Workflow File":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Upload New Workflow":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Get all workflows":{"main":[[{"node":"Validate WF Existence","type":"main","index":0}]]},"Validate WF Existence":{"main":[[{"node":"Convert to File","type":"main","index":0}],[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Upload New Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f11ca42a-55d8-4aa9-b98a-679df7b663d8","triggerCount":0,"shared":[{"createdAt":"2025-09-30T18:46:58.791Z","updatedAt":"2025-09-30T18:46:58.791Z","role":"workflow:owner","workflowId":"awLsq7ew0KCiKMMn","projectId":"NYzuSfuD1ceiPl6G"}],"tags":[]}